body{
    background-color: rgb(30, 30, 30);
    background-image: url("galaxy.jpg");
}

#view{
    background-size: cover;
    width: 1200px;
    height: 800px;
    margin: auto;
}

#hero{
    background-image: url('hero2.png');
    background-size:cover;
    top: 700px;
    margin: auto;
    position: absolute;
    height:50px;
    width: 70px;

}

.missile{
    background-image: url('missile.png');
    background-size: cover;
    height:51.25px;
    width: 20px;
    position:  absolute;
    top: 700;
    left:1000;
}

#missile{
    width: 1000px;
    height: 800px;
    position: absolute;
}

.missileEnnemy{
    background-image: url('missileEnnemy.png');
    background-size: cover;
    height:51.25px;
    width: 20px;
    position: absolute;
    top: 15;
    left:1000;
}

#ennemy{
    width: 1200px;
    height: 800px;
    position: absolute;
}

.ennemy{
    background-image: url('vaiseau-ennemie.png');
    background-size:cover;
    position: absolute;
    height:50px;
    width: 70px;
}

.stars{
    position: absolute;
    border-radius: 50px;
    background-color: white;
    box-shadow: 0px 2px 20px white;
}
#stars{
    width: 1200px;
    bottom: 0;
    top: 0;
    position: absolute;
    z-index: 0;
}

#menu{
    display:flex;
    flex-direction: column;
    font-family: sans-serif;
    align-items: center;
    color:white;
    width: 1200px;
    height: 800px;
}

#menu img{
    width:70%;
}

#play, #credit{
    background-image: url('texture_button.jpg');
    width: 20%;
    text-align: center;
    border-radius: 6px;
    margin-bottom: 3%;
}

#play:hover, #credit:hover{
    width: 20%;
    box-shadow: 0px 0px 20px rgb(184, 75, 75);
}

.pause{
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}