body{
    background-color: rgb(30, 30, 30);
    padding-right: auto;
    padding-left: 20%;
}

#view{
    background-image: url('space.png');
    background-size: cover;
    width: 1200px;
    height: 800px;
    border: 2px solid black;
}

#hero{
    background-image: url('hero2.png');
    background-size:cover;
    top: 700px;
    left: 1000px;
    position: absolute;
    height:70px;
    width: 90px;

}

.missile{
    background-image: url('missile.png');
    background-size: cover;
    height:51.25px;
    width: 20px;
    position:  absolute;
    top: 700;
    left:1000;
}

#missile{
    width: 1000px;
    height: 800px;
    position: absolute;
}

#ennemy{
    width: 1200px;
    height: 800px;
    position: absolute;
}

.ennemy{
    background-image: url('vaiseau-ennemie.png');
    background-size:cover;
    position: absolute;
    height:70px;
    width: 90px;
}

#menu{
    display:flex;
    flex-direction: column;
    font-family: sans-serif;
    align-items: center;
    color:white;
    width: 1200px;
    height: 800px;
}

#menu img{
    width:70%;
}

#play, #credit{
    background-image: url('texture_button.jpg');
    width: 20%;
    text-align: center;
    border-radius: 6px;
    margin-bottom: 3%;
}

#play:hover, #credit:hover{
    border: 1px solid white;
    width: 20%;
}

.pause{
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}