body{
    height:100vh;
    padding-right: auto;
    padding-left: 25%;
}

#view{
    background-image: url('space.png');
    width: 1000px;
    height: 800px;
    border: 2px solid black;
}

#hero{
    background-image: url('hero2.png');
    background-size:cover;
    top: 700px;
    left: 1000px;
    position: absolute;
    height:70px;
    width: 90px;

}

.missile{
    background-image: url('missile.png');
    background-size: cover;
    height:51.25px;
    width: 20px;
    position:  absolute;
    top: 700;
    left:1000;
}

#missile{
    width: 1000px;
    height: 800px;
    position: absolute;
}
